*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
main{
width:960px;
margin:50px auto;
}
.item-list{
  margin-bottom: 50px;
}
.list{
  padding:20px;
  list-style: none;
}
.list:nth-child(odd){
  background-color: #eee;
}
.box-list{
  display: flex;
  flex-wrap: wrap;
}
.box{
  width: 30%;
  height: 200px;
  margin-bottom: 40px;
  margin-right: 5%;
  background-color: yellow;
}
.box:nth-child(1),
.box:nth-child(5),
.box:nth-child(9){
  background-color: orange;
}
.box:nth-child(3n){
  margin-right:0;
}
.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9){
  margin-bottom: 0;
}